* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    gap: 30px;
    justify-content: end;
    font-weight: 900;
    font-size: 19px;
    padding: 30px;
}

.halqa2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rasm {
    display: flex;
    border-bottom: 2px solid #E0E0E0;
    padding: 10px;
    margin: 0 auto;
}

.rasmtext {
    width: 100%;
    padding: 20px;

}

.dastur {
    margin-left: 20.5rem;
    font-weight: 900;

}


.rasmtext h1 {
    font-weight: 700;
    color: #21243D;
}

.rasmtext p {
    width: 560px;
}

.btn {
    display: flex;
    color: #8695A4;
    gap: 25px;
    padding: 0;
    align-items: center;
}

.btn button {
    width: 62px;
    height: 25px;
    border-radius: 10px;
    background-color: #142850;
    color: white;
    border: none;
    font-weight: 900;
}

.menu a:hover {
    color: orange;
}

.footerlinks {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem;
    gap: 15px;
}


.logo i {
    font-size: 50px;

}

.logo {
    display: flex;
    gap: 22px;
}
.rasmblock{
    display:none;
}
.menu a:hover{
    color: #FF6464;
}
@media (max-width:750px){
    .card{
        width: 500px;
    }
    .container{
        padding: 0;
    }
    .card p{
        width: 100%;
    }
    
}

@media (max-width:399px) {
    .rasm {
       display: none;
    }
     .rasmblock{
        display: contents;
     }
     
    
    .rasm img {
        width: 100%;
    }

    .dastur {
        margin-left: 6px;
        padding: 10px;
        text-align: start;
    }
    .halqa2{
        gap: 30px;
    }

    .rasmtext p {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .rasmtext {
        padding: 0;
        
        border-bottom: 2px solid #E0E0E0;
    }

    .btn {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

   
    .footerlinks p {
        width: 260px;

    }

}